<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tdc.edu.vn.ticket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ticket">

        <activity
            android:name=".DangKiActivity"
            android:label="@string/mh_dang_ki"
            android:exported="false"/>
        <activity android:name=".MainActivity"
            android:label="@string/mh_trang_chu"
            android:exported="false"/>
        <activity android:name=".ThongTinTaiKhoanActivity"
            android:label="@string/mh_thong_tin_tk"
            android:exported="false"/>
        <activity android:name=".ChiTietPhim"
            android:label="@string/mh_chi_tiet_phim"
            android:exported="false"/>
        <activity android:name=".LichChieuActivity"
            android:label="@string/mh_lich_chieu"
            android:exported="false"/>
        <activity android:name=".DatChoActivity"
            android:label="@string/mh_dat_cho"
            android:exported="false"/>
        <activity android:name=".HoaDonActivity"
            android:exported="false"/>
        <activity
            android:name=".DangNhapActivity"

            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>